.x-form-builder{
  display: flex;
  flex-flow: row nowrap;
  background-color: #fff;
  
  font-size: 14px;
  color: $--xform-text-color-primary;
}

.x-form-builder-main{
  width: 640px;
  margin: 0 auto;
  padding: 0 10px;
}

.x-form-star{
  vertical-align: middle;
  line-height: 1;
  font-weight: 700;
  color: $--xform-color-danger;
  font-size: 18px;
  margin-left: 2px;
}

.x-form-item{
  display: flex;
  flex-flow: row nowrap;

  & + .x-form-item{
    margin-top: 5px;
  }

  &.x-form-is-required .x-form-item-label{
    font-weight: 700;
  }
}

.x-form-item-left .x-form-item-label{
  text-align: left;
}

.x-form-item-right .x-form-item-label{
  text-align: right;
}

.x-form-item-top{
  flex-direction: column;

  & .x-form-item-label{
    width: auto !important;
    padding: 8px 0 5px 0;
  }
}

.x-form-item-label{
  width: $--xform-item-label-width;
  padding: 5px 10px 0 0;  
  line-height: 20px;
}

.x-form-item-content{
  flex: 1;
}

.x-form-is-error .x-form-item-control{
  border-color: $--xform-color-danger;
}

.x-form-item-error-message{
  color: $--xform-color-danger;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}

.x-form-item-tip{
  color: $--xform-text-color-secondary;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}