.xform-viewer{
  font-size: 14px;
  color: $--xform-text-color-primary;
  
  background-color: #fff;
}

.xform-viewer-main{
  box-sizing: border-box;
  width: 640px;
  margin: 0 auto;
  padding: 0 10px;
}

.xform-viewer-item{
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  line-height: 20px;
}

.xform-viewer-item-left .xform-viewer-label{
  text-align: left;
}

.xform-viewer-item-right .xform-viewer-label{
  text-align: right;
}

.xform-viewer-item-top{
  flex-direction: column;

  & .xform-viewer-label{
    width: auto !important;
    padding: 8px 0 5px 0;
  }
  & .xform-viewer-content{
    padding-left: 0;
    padding-right: 0;
  }
}

.xform-viewer-item + .xform-viewer-item{
  margin-top: 5px;
}

.xform-viewer-item.xform-is-required > .xform-viewer-label{
  font-weight: 700;
}

.xform-viewer-label{
  width: $--xform-viewer-item-label-width;
  padding: 5px 10px 0 0;  
  box-sizing: border-box;
}

.xform-viewer-content{
  padding: 5px 10px;
  flex: 1;
  box-sizing: border-box;
}