@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1567911470286'); /* IE9 */
  src: url('iconfont.eot?t=1567911470286#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABwQAAAKYAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBbIFdATYCJAMMCwgABCAFhG0HNxskBhHVk1dkH4lxTORZHKqiicZNBNB+5s++3cAlJSBJiKrsmisACYWgSJhWAsuP6Brfb84RyAkTNVmStSOPvvCv5dxLU/rj3ukfBRTIfJbltPY+HxOo+4IB7Y1jkhRIot4wdsELPE5ASTt9hLHjp85VlNjjAsLWTRtWKRZ8ksSSRUG+YWkSzsgpZkezVzgdfT/8bFAokslF9tSZ68etNfK7u9/XxEq1YmmA4C9nAVtFRB8kwvLG2EJRYJSoJEvd2XlJkC0VrFaJeMYfXl4emUDIswvrgB5Qk3kovsci4/sawVMXRpBPEhMxF5Ob3CkT2jRos1sp1F4q1Tt2QapcLJeVjr0IudqX5frHn89LlWeNouJ7tm+4XHvzWJO16y8du15pum7thcqN4803rLt4/FZts7+/Ths2LX8kX/A4ur/9q/YF2Pb0TUFxYVcT97Zr+3uv33p9a9vOkXyLCX9v17ZympWg+ibeir0h7sn+/8+/8TT396MV9Yf+Wzwn8OHa6X6Rr/omGR4vymD8v8of2JAMoa2PSeN5PMsR9ZkYzVAynKpsVyNfp6ua3nkiKGqaQaagLURFXdBE7gM5ZUMgr2gElPQ2YXVZY9tEIdWgl4MAggbuQaaelxA18BpN5C+Q08yvkNcgRChh/+Gy5dk1FKebIFKkFM9UJNwa16inuPiNrK8jyQsj6h/SFUHyHa+cfKGFLDGjG7JA1ZARbugJTkNdM1nhEok6uaoNXdc0PclJuFmc3AiIKEiR2IwUEqxlAmJ1qnz+DTK9WkQ6SursfyA6RefE5/AGoC9ZO6jkUc7pDDIBpQxiCNYgT2CB2okxYpsHlSChHPmEiBVyUSszVOZsr2h+IJdVYO8ZQxZiSDZr2M47QcMDFgs=') format('woff2'),
  url('iconfont.woff?t=1567911470286') format('woff'),
  url('iconfont.ttf?t=1567911470286') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1567911470286#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xform-copy:before {
  content: "\e709";
}

.icon-xform-remove:before {
  content: "\e6ae";
}

