.x-form-designer{
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  font-size: 14px;
}

.x-form-designer-fields{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  width: 320px;
  padding: 0 10px 10px 10px;

  background-color: #fff;
  user-select: none;
}

.x-form-designer-main{
  flex: 1;
  height: 100%;
  padding: 10px 0;
  overflow: auto;
  user-select: none;
}

.x-form-designer-setting{
  width: 320px;
  height: 100%;
}

.x-form-designer-setting.x-form-is-active{
  background-color: #fff;
}

.x-form-field{
  margin: 10px 0 0 0;
  height: 32px;
}

.x-form-field-content{
  position: relative;
  width: 145px;
  line-height: 24px;
  padding: 3px 24px 3px 10px;

  font-size: 13px;
  font-weight: 600;
  text-align: left;
  color: #454545;

  border: 1px solid #bbb;
  border-radius: 2px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: move;
  transition: background-color ease .15s;
}

.x-form-field-content:hover{
  background-color: #f0f0f0;
}

.x-form-field-content > i.iconfont{
  position: absolute;
  font-size: 18px;
  top: 3px;
  right: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  font-weight: 400;
}

.x-form-designer-list{
  width: 375px;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.x-form-field-preview{
  position: relative;
  border: 1px dashed transparent;
}

.x-form-field-preview:hover{
  border-color: red;
}

.x-form-field-preview:hover .x-form-designer-delete{
  display: block;
}

.x-form-field-preview.x-form-is-selected{
  border-color: red;
  border-style: solid;
}

.x-form-designer-cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  cursor: move;
}

.x-form-designer-delete{
  position: absolute;
  z-index: 9;
  display: none;
  top: -1px;
  right: -1px;
  border: none;
  background-color: red;
  color: #fff;
  outline: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.x-form-designer-delete > i{
  font-size: 14px;
}

.x-form-designer-ghost{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  cursor: move !important;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.125);
}

.x-form-preview-group{
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
}

.x-form-is-dragging{
  opacity: .65;
}

.x-form-preview-tip{
  padding: 50px 0;
}

.x-form-preview-tip > img{
  display: block;
  width: 320px;
  margin: 0 auto;
}

.x-form-preview-tip > p{
  margin: 10px 0 0 0;
  text-align: center;
  color: #9a9a9a;
  font-size: 15px;
  font-weight: 600;
}

.x-form-preview-group{
  display: flex;
  flex-flow: row nowrap;
}

.x-form-preview-group.x-form-not-null .x-form-star{
  display: inline;
}

.x-form-preview-group.x-form-not-null .x-form-preview-label{
  font-weight: 700;
}

.x-form-star{
  vertical-align: middle;
  line-height: 1;
  display: none;
  font-weight: 700;
  color: red;
  font-size: 18px;
  margin-left: 2px;
}

.x-form-preview-label{
  width: 100px;
  line-height: 30px;
}

.x-form-preview-content{
  flex: 1;
}

.x-form-preview-mock{
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 5px;
  overflow: hidden;
}

input.x-form-preview-mock{
  height: 30px;
}

.x-form-setting{
  padding: 10px;
}

.x-form-setting-head{
  margin: 0;
  line-height: 24px;
  font-size: 16px;
}

.x-form-setting-group{
  margin-top: 10px;
}

.x-form-setting-group > header{
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}

.x-form-setting-control{
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 5px;
  line-height: 20px;
  word-break: break-all;
}

input.x-form-setting-control{
  height: 30px;
}

textarea.x-form-setting-control{
  min-width: 100%;
  max-width: 100%;
  max-height: 240px;
}

.x-form-setting-checkbox{
  margin: 0;
  line-height: 20px;
}

.x-form-setting-checkbox > span{
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
}

.x-form-setting-checkbox > input[type="checkbox"]{
  margin: 0;
  vertical-align: middle;
}

.x-form-builder{
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  background-color: #fff;
}

.x-form-builder-main{
  width: 640px;
  margin: 0 auto;
  padding: 0 10px;
}

.x-form-item{
  display: flex;
  flex-flow: row nowrap;
}

.x-form-item + .x-form-item{
  margin-top: 5px;
}

.x-form-item.x-form-not-null .x-form-star{
  display: inline;
}

.x-form-item.x-form-not-null .x-form-item-label{
  font-weight: 700;
}

.x-form-item-label{
  width: 100px;
  padding-top: 5px;
  line-height: 20px;
}

.x-form-item-content{
  flex: 1;
}

.x-form-item-error-message{
  color: red;
  font-size: 12px;
  line-height: 20px;
}

.x-form-text,
.x-form-textarea{
  width: 100%;
  line-height: 20px;
  padding: 4px 5px;
  border: 1px solid #aaa;
}

.x-form-textarea{
  resize: vertical;
}

.x-form-viewer{
  font-size: 14px;
  
  background-color: #fff;
}

.x-form-viewer-main{
  width: 640px;
  margin: 0 auto;
  padding: 0 10px;
}

.x-form-viewer-item{
  display: flex;
  flex-flow: row nowrap;
  line-height: 20px;
}

.x-form-viewer-item + .x-form-viewer-item{
  margin-top: 5px;
}

.x-form-viewer-item.x-form-not-null > .x-form-viewer-label{
  font-weight: 700;
}

.x-form-viewer-label{
  width: 100px;
  padding-top: 5px;
}

.x-form-viewer-content{
  padding: 5px 10px;
  flex: 1;
}